# Points to the root of your Django server. 
VITE_API_URL=http://localhost:8000

# Frontend Application URL
# Used for generating shareable links.
VITE_APP_URL=http://localhost:5173

# Authentik / Auth Flow Configurations
VITE_REGISTRATION_URL=http://localhost:9000/if/flow/registration/?application=remlearner
VITE_ADMIN_REGISTRATION_URL=http://localhost:9000/if/flow/admin-registration/?application=remlearner
